{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; 
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
    {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% trans 'View' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
        <li>
            <a href="{% url "admin:paste_paste_view" object.pk %}">{% trans "View" %}</a>
        </li>
        <li>
            <a href="{% url "admin:paste_paste_raw" object.pk %}">{% trans "Raw" %}</a>
        </li>
        <li>
            <a href="{% url "admin:paste_paste_change" object.pk %}">{% trans "Change" %}</a>
        </li>
        <li>
            <a href="{% url "admin:paste_paste_history" object.pk %}">{% trans "History" %}</a>
        </li>
        {% endblock %}
    </ul>
    {% endblock %}

    <div class="module">
        <h2>{{ object.title }}</h2>
            <div class="paste">
            <table>
                <tr>
                    <th><pre class="code">
                        {% for l in object.content_splitted %}<a href="#l{{ forloop.counter }}" id="l{{ forloop.counter }}">{{ forloop.counter }}</a>
{% endfor %}</pre></th>
                    <td><pre class="code">{% for line in object.content_splitted %}<div class="line" id="l{{ forloop.counter }}">{% if line %}{{ line|safe }}{% else %}&nbsp;{% endif %}</div>{% endfor %}</pre></td>
                </tr>
            </table>
            </div>

    </div>
</div>
{% endblock %}
